.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  scrollbar-gutter: stable both-edges;

}

h1 {
  position: relative;
  text-align: center;
  justify-self: center;
  width: 100%;
}

h3 {
  margin-bottom: 0.5em;
}

header {
  text-align: center;
  background-color:#282C34;
  color: white;
  padding: 0.5em;
  width: 100%;
  margin-bottom: 2em;

}

main {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cards {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 18em);
  gap: 2em;
  place-content: center;
}
